/*-------------ABOUT------------------*/
.aboutpadre{
        height: auto;
        margin-top: 5rem;
    .integrante{
        color: #d8dee9;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 4px 4px 5px 5px #E8E8E6;
        h3{
            color: #b7094c;
            height:4rem;
            font-size: 20px;
            margin-top: 1rem;
        }
        p{
            font-family: 'Space Mono', monospace;
            font-weight: 800;
            width: 100%;
            font-size: 20px;
            margin-top: 10px;
            color: rgb(154, 148, 148); 
        }
        img{
            border-radius: 10%;
            object-fit: cover;
            width: 500px;
            height: 500px;
        }
        } 
    }
    .integrantefondo1{
        background-color: rgb(235, 231, 231);
        color: black;
    }
    