   /*---------------------DISCOGRAPHY---------------*/ 
   @import "utilities";  
   .padrediscography{
      @include flexbox;
      background-color: map-get($estilos, fondo);
      justify-content: space-evenly;
      width: 100%;
      height: auto;
      margin-bottom: 5rem;
      padding: 2rem;
   h2{
      font-family: 'Permanent Marker', cursive; 
      border-radius: 2%;
      color: $titulos;
      text-align: center;
      padding: 5px;
      margin-top: 5px;
   }
   img{
      box-shadow: 5px 8px 5px  #6a040f;
      margin-right: 10px;
      height: 500px;
      width: 500px;
      object-fit: cover;
   }
   .disco{
      margin-top: 12px;
      margin-bottom: 8rem;
      padding: 2rem;
      .spotify{
      color: green;
      }
   }
   .musictitulo{
      width: 100%;
      h3{
         font-size: 50px;
         padding: 5px;
         text-align: center;
         color: $titulos;
      }
      
   }
      
   }