 /*-----------------------------------------responsive--------------------*/
      /* --------------------------RESPONSIVE INDEX---------------------------------- */
    @media screen and (max-width:980px){
        
        
        .tabla{
            font-size: 20px;
            color: white;
            background-color: #E8E8E6;
        button{
            margin-top: 10px;
            font-size: 20px;
            margin-bottom: 10px;
        }
        }
        .otroparrafoprincipal{
            width: 100%;
            margin-left: 0%;
        }
        }
        @media screen and (max-width:576px){
            .header{
                 background-position-x: 50%;
               }
        .parrafoprincipal{
            height: auto;
        }
        .otroparrafoprincipal img{
            margin-top: 20px;
            width: 200px;
            height: 200px;
        }
        .linkalbum a img{
            width: 60px;
            height: 60px;
            margin-top: 40px;
            margin-left: 3rem;
        }
    }
@media screen  and (min-width: 300px) and (max-width:450px){
.parrafoprincipal{
    height: auto;
    p{
        // margin-top: 2rem;
        // height: 12rem;
        font-size: 14px;
    }
}
}

@media screen and (min-width: 270px) and(max-width:451px){
.tabla{
    font-size: 15px;
    h2{
    margin-top: 2rem;
    font-size: 25px;
    }
  }
}
       /* ---------RESPONSIVE FOOTER------------ */
        @media screen and (min-width: 320px) and (max-width:768px){
        .redsocial img{
            margin-top: 2rem;
        }
        }
        /*------RESPONSIVE PHOTOS--------*/
        @media screen and (min-width:140px) and (max-width: 390px){
            .frase{
                font-size: 10px;
            }
        }




    /* -------------------------RESPONSIVE VIDEOS--------- */
    @media screen and (min-width:140px) and (max-width: 340px){ 
        .containervideo iframe{
            margin-top: 25px;
            height: 250px;
            width: 250px;
            object-fit: cover;
        }
        }
        
        /* --------------RESPONSIVE DISCOGRAPHY------------------------*/
    @media screen and (min-width:140px) and (max-width: 320px){
        .padrediscography{
            img{
            height: 200px;
            width: 200px;
            object-fit: cover;
            }
            .disco{
                margin: 0;
                width: 100%;
                h2{
                font-size: 15px;
                }
            }
            
        }
    }
    
        @media screen and (min-width:321px) and (max-width: 480px){
        .headerdisco nav ul{
            height: 20%;
            width: 70%;
        } 
        .padrediscography{
            img{
            height: 300px;
            width: 400px;
            object-fit: cover;
        }
        .disco{
            width: 100%;
        }
        }
        } 
        @media screen and (min-width:481px) and (max-width: 850px){
            .padrediscography img{
                height: 300px;
                width: 500px;
                margin: 0;
                object-fit: cover;
                .disco{
                    width: 100%;
                }
            }

        }
        
        /*-----------------------RESPONSIVE ABOUT------------------------*/
        @media screen and (max-width:576px){
        .integrante h3{
            height: auto;
            font-size: 15px;
        }
        }
    /* -----------RESPONSIVE TOUR DATES----------- */
        @media screen and (min-width: 320px) and (max-width:768px){
        .item{
            width: 100%;
            height: auto;
        }
        }
        @media screen and (max-width:420px){
            .item{
                font-size: 20px;
                height: 15rem;
            }
            }
        
    