/*--------------------------------SECCION PHOTOS---------------------*/
 .container{
  width: 100%;
}
.carousel{
  position: relative;
  img{
    padding: 2rem;
  }

}
.carousel__center{
  margin: 0 auto;
}

@media screen and (max-width: 760px){
 .carousel{
   width: 90%;
 }
}
