/*-------------ESTILOS GENERALES-----------------*/
@import "utilities";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}
body{
    font-family: 'Permanent Marker', cursive; 
    background-color: black;
a{
color: black;
text-decoration: none;
}
a:hover{
    color: #b7094c;
}
}

/*--------------------------NAV-------------------------------------*/
.header {
    background-image: url(../imagenes/fondooprueba.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    
.navbar {
        background-color: transparent !important;
        a{
            color: black;
        }
    .nav-link{
        color: #e5e5e5;
    }
}
}
.titulopropio {
    font-size: 20px;
}
.menupropio{
    margin-left: 3rem;
    a{
    margin-left: 1rem;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    }
}

/*-----CUERPO DEL INDEX------*/
// .imagenprincipal img{
//     filter: brightness(30%); 
//     object-fit: contain;
//     background-size: contain;
//     min-height: 100vh;
//     &:hover{
//     filter: brightness(100%);
// }
// }
.parrafoindex{
    height: auto;
.parrafoprincipal{
    text-align:center;
    font-size: 30px;
    margin-top: 1rem;
    color: $colorParaParrafos;
    }
}
.otroparrafoprincipal{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    img{
        padding: 1rem;
        border-radius: 10%;
        width: 500px;
        height: 500px; 
        }
    p{
    font-size: 20px;
    color:#b7094c;;
    }
}
.linkalbum{
    width: 100%;
    margin-left: 2rem;
    a img{
    background-color: $backgroundGeneral;
    @include tamaño;
    border-radius: 15%;
    padding: 15px;
    margin-top: 5rem;
    margin-right: 5rem;
    &:hover{
        background-color: #b3abab;
        }
        }
    }
.tabla{
    background-color: map-get($estilos, fondo);
    text-align: center;
    font-size: 30px;
    margin-top: 10rem;
    tr{
    height: 7rem;
    color: #343a40;
    &:hover{
        background-color: $backgroundGeneral;
            }
        th{
            color: $titulos;
            } 
    }
h2{
    text-align: center;
    height: 6rem;
    font-size: 55px;
    color: $titulos;
    }
    .boton{
        @extend .botonfooter;
        font-size: 30px;
        margin-bottom: 25px;
    }
}
/* -------------------------------------FOOTER--------------------- */
.footer{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:auto;
img{
    &:hover{
    border-color: $backgroundGeneral;
    }
}
}
.registro {
    font-family: 'Permanent Marker', cursive; 
    color: $colorParaParrafos;
    border: 4px solid #343a40;
    border-left: black;
    border-right: black;
    border-style: dashed;
    font-size: 20px;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 4rem;
    margin-top: 10px;
h2{
    font-size: 20px;
    color: #e63946;
    height: 7rem;
    width: 100%;
}
input{
    border: 2px solid #343a40;
    font-family:  'Hubballi', cursive;
    background-color: black;
    color: black;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.botonfooter{
margin-top: 15px;
}
} 
.redsocial{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
a{
    img{
        background-color: #e5e5e5;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: 20px;
        border-radius: 20%;
        border: 4px solid $titulos;
    }
}
}
.copyright{
    color: grey;
    font-size:15px;
    margin-top: 1rem;
    text-align: center;
}
/*-------------------fin del index principal/------*/