/*-------------ESTILOS GENERALES-----------------*/
@import "utilities";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    font-family: 'Permanent Marker', cursive; 
    background-color: black;
a{
color: black;
text-decoration: none;
}
a:hover{
    color: #b7094c;
}
}

/*--------------------------NAV-------------------------------------*/
.header {
    background-image: url(../imagenes/fondooprueba.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    
.navbar {
        a{
            color: #B74C5C;;
        }
    .nav-link{
        color: #e5e5e5;
    }
}
}
.titulopropio {
    font-size: 20px;
}
.menupropio{
    margin-left: 1rem;
    a{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    }
}
.parrafoindex{
    height: auto;
.parrafoprincipal{
    text-align:center;
    font-size: 30px;
    margin-top: 1rem;
    color: $colorParaParrafos;
    }
}
.otroparrafoprincipal{
    @include flexbox;
    justify-content: space-evenly;
    margin-top: 5rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    iframe{
        margin-top: 10px;
        width: 400px;
        height: 450px;
    }
    img{
        padding: 1rem;
        border-radius: 10%;
        width: 500px;
        height: 500px; 
        }
}
.linkalbum{
    width: 100%;
    margin-left: 2rem;
    a img{
    background-color:  #b3abab;
    @include tamaño;
    border-radius: 15%;
    padding: 15px;
    margin-top: 5rem;
    margin-right: 5rem;
    &:hover{
        background-color: $backgroundGeneral;
        }
        }
        p{
            margin-top: 2rem;
        text-align: center;;
        font-size: 30px;
        color:#b7094c;;
        }
    }
.videoindex{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    iframe{
        width: 90%;
        height: 42rem;
        
    }
}
.tabla{
    background-color: map-get($estilos, fondo);
    text-align: center;
    font-size: 30px;
    margin-top: 10rem;
    tr{
    height: 7rem;
    color: #343a40;
    &:hover{
        background-color: $backgroundGeneral;
            }
        th{
            color: $titulos;
            } 
    }
h2{
    text-align: center;
    height: 6rem;
    font-size: 55px;
    color: $titulos;
    }
    .boton{
        @extend .botonfooter;
        font-size: 30px;
        margin-bottom: 25px;
    }
}
/*-------NEWS------------*/
.latest-news{
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.latest-news_title{
    height: 15rem;
    letter-spacing: 5px;
    color: #b7094c;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 50px;
    h2{
        font-size: 45px;
        height: 8rem;
    }
}

@media screen  and (min-width: 560px) and (max-width:768px){
    .news_img{
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .news_info{
        padding-right: 0;
    }
    .news{
        padding: 2rem;
        
    }
}
@media screen  and (min-width: 280px) and (max-width:560px){
.news_img{
    display: none;
}
.news{
    text-align: center;
    flex-direction: column;
    .news_info{
        text-align: center;
        padding-right: 0;
        padding-left: 50px;
        margin-right: 0;
        .news_info_titulo{
           font-size: 14px;
            height: 8rem;
        }
    }
}

}
@media screen  and  (max-width:960px){
    .latest-news_title h2{
        font-size: 40px;
    }
    .news{
        flex-direction: column;
        text-align: center;
        padding-left: 15px;
        .news_img{
            justify-content: center;
            align-items: center;
            margin-left: 9rem;
            width: 100%;
        }
        .news_info_titulo{
            font-size: 20px;
        }
        .news__button{
            justify-content: center;
        }
        
    }
}
@media screen  and (max-width:780px) {
    .news{
    .news_img{
        margin-left: 5rem;
    
    }
   
}
}
@media screen  and (max-width:690px) {
    .latest-news_title h2{
        font-size: 30px;
    }
    .news{
    .news_img{
        margin-left: 1rem;
    }
}
}
@media screen  and (max-width:620px){
    .news{
        .news_img{
            margin-left: 0;
        }
    }
}
@media screen  and (max-width:420px){
    .news{
        .news_info{
            text-align: center;
        }
    .news_info_titulo{
        font-size: 14px;
    }
}
}
.news{
    width: 100%;
    max-width: 98rem;
    height: 100%;
    display: flex;
    border-radius: 16px;
    background-color: #e5e5e5;
    margin-bottom: 50px;

    .news_img{
        min-width: 35rem;
        max-width: 35rem;
        height: 30rem;
        padding: 40px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
            display: block;
        }
        .news__button{
            background-color: $titulos;
            display: inline-block;
            padding: 9px;
            letter-spacing: 2px;
            font-size: 15px;
            border-radius: 6px;
        }
    }
    .news_info{
        padding-right: 35px;
        padding-top: 2.5rem;
        height: auto;
        .news_info_titulo{
            height: 4rem;
            font-size: 25px;
            color: $titulos;
        }
        .news_text{
            text-align: left;
            font-size: 20px;
        }
    }
}








/* -------------------------------------FOOTER--------------------- */
.footer{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:auto;
img{
    &:hover{
    border-color: $backgroundGeneral;
    }
}
}
.registro {
    font-family: 'Permanent Marker', cursive; 
    color: $colorParaParrafos;
    border: 4px solid #343a40;
    border-left: black;
    border-right: black;
    border-style: dashed;
    font-size: 20px;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 4rem;
    margin-top: 10px;
h2{
    font-size: 20px;
    color: #e63946;
    height: 7rem;
    width: 100%;
}
input{
    border: 2px solid #343a40;
    font-family:  'Hubballi', cursive;
    background-color: black;
    color: black;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.botonfooter{
margin-top: 15px;
}
} 
.redsocial{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
a{
    img{
        background-color: #e5e5e5;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: 20px;
        border-radius: 20%;
        border: 4px solid $titulos;
    }
}
}
.copyright{
    color: grey;
    font-size:15px;
    margin-top: 1rem;
    text-align: center;
}
/*-------------------fin del index principal/------*/