/*-------------ESTILOS GENERALES-----------------*/
@import "utilities";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    font-family: 'Permanent Marker', cursive; 
    background-color: black;
a{
color: black;
text-decoration: none;
}
a:hover{
    color: #b7094c;
}
}

/*--------------------------NAV-------------------------------------*/
.header {
    background-image: url(../imagenes/fondooprueba.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    
.navbar {
        a{
            color: #B74C5C;;
        }
    .nav-link{
        color: #e5e5e5;
    }
}
}
.titulopropio {
    font-size: 20px;
}
.menupropio{
    margin-left: 1rem;
    a{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    }
}
.parrafoindex{
    height: auto;
.parrafoprincipal{
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    width: 92%;
    text-align:center;
    font-size: 30px;
    margin-top: 1rem;
    padding: 10px;
    margin-left: 20px;
    color: $colorParaParrafos;
    }
}
.otroparrafoprincipal{
    border-radius: 20px;
    opacity: 0.9;
    background-color: black;
    @include flexbox;
    justify-content: space-evenly;
    margin-top: 5rem;
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-style: dashed;
    box-sizing: border-box;
    text-align: center;
    iframe{
        transition: transform 0.3s ease-in-out;
        padding: 1rem;
        margin: 11px;
        width: 300px;
        height: 350px;
        &:hover{
            filter: opacity(0.9);
            transform: scale(1.04);
        }
    }
    img{
        transition: transform 0.3s ease-in-out;
        padding: 1rem;
        margin: 11px;
        border-radius: 10%;
        width: 350px;
        height: 350px; 
        &:hover{
            filter: opacity(0.9);
            transform: scale(1.04);
        }
        }
}
.linkalbum{
    width: 100%;
    background-color: map-get($estilos, fondo);
    border: 2px solid black;
    border-style: dashed;
    margin-top: 10px;
    a img{
    width: 80px;
    height: 80px;
    background-color: map-get($estilos, fondo);
    border-radius: 15%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 4rem;
    margin-right: 5rem;
    margin-left: 50px;
    &:hover{
        background-color:#b7094c;;
        }
        }
        p{
        font-family:'Courier New', Courier, monospace;
        margin-top: 2rem;
        text-align: center;
        font-size: 50px;
        color:#b7094c;;
        }
    }
.videoindex{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    iframe{
        width: 90%;
        height: 42rem;
        
    }
}
.tabla{
    background-color: map-get($estilos, fondo);
    text-align: center;
    font-size: 30px;
    margin-top: 10rem;
    tr{
    height: 7rem;
    color: #343a40;
    font-family:'Courier New', Courier, monospace;
    &:hover{
        font-weight: 800;
        background-color: $backgroundGeneral;
            }
        th{
            color: $titulos;
            } 
    }
h2{
    padding-top: 1rem;
    text-align: center;
    height: 6rem;
    font-size: 55px;
    color: $titulos;
    }
    .boton{
        @extend .botonfooter;
        font-size: 30px;
        margin-bottom: 25px;
    }
}
/*-------NEWS------------*/
.latest-news{
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.latest-news_title{
    height: 15rem;
    letter-spacing: 5px;
    color: #b7094c;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 50px;
    h2{
        font-size: 45px;
        height: 8rem;
    }
}
.news{
    width: 100%;
    max-width: 98rem;
    height: 100%;
    display: flex;
    border-radius: 16px;
    background-color: #e5e5e5;
    margin-bottom: 50px;

    .news_img{
        min-width: 35rem;
        max-width: 35rem;
        height: 30rem;
        padding: 40px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
            display: block;
        }
        .news__button{
            font-family: 'Courier New', Courier, monospace;
            background-color: $titulos;
            display: inline-block;
            padding: 10px;
            letter-spacing: 2px;
            font-size: 15px;
            border-radius: 6px;
        }
    }
    .news_info{
        font-family:'Courier New', Courier, monospace;
        padding-right: 35px;
        padding-top: 2.5rem;
        height: auto;
        .news_info_titulo{
            text-transform: uppercase;
            font-weight: 800;
            height: 4rem;
            font-size: 25px;
            color: $titulos;
        }
        .news_text{
            font-weight: 800;
            text-align: left;
            font-size: 20px;
        }
    }
}


/*---boton go back----*/
.boton_goback{
    text-align: center;
    @include flexbox;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
/* -------------------------------------FOOTER--------------------- */
.footer{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:auto;
img{
    &:hover{
    border-color: $backgroundGeneral;
    }
}
}
.registro {
    font-family: 'Permanent Marker', cursive; 
    color: $colorParaParrafos;
    border: 4px solid #343a40;
    border-left: black;
    border-right: black;
    border-style: dashed;
    font-size: 20px;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 4rem;
    margin-top: 10px;
h2{
    font-size: 20px;
    color: #e63946;
    height: 7rem;
    width: 100%;
}
input{
    border: 2px solid #343a40;
    font-family:  'Hubballi', cursive;
    background-color: black;
    color: black;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.botonfooter{
margin-top: 15px;
}
} 
.redsocial{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
a{
    img{
        background-color: #e5e5e5;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: 20px;
        border-radius: 20%;
        border: 4px solid $titulos;
    }
}
}
.copyright{
    color: grey;
    font-size:15px;
    margin-top: 1rem;
    text-align: center;
}
/*-------------------fin del index principal/------*/