
$colorParaParrafos: #b3abab; 
$titulos: #b7094c;;
$backgroundGeneral: rgb(255, 255, 109);;


/*---MIXIN---*/
@mixin tamaño {
    width: 100px;
    height: 100px;
    
};
@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
};

/*----MAPA------*/

$disco: (
    filauno: #d00000,
    filados: #b3abab,
);
@each $filas, $color in $disco {
    .#{$filas}{
        border: 5px 8px 5px  $color;
    } 
    
}

/*----MAP GET ------*/
$estilos: (
    centro: center,
    fondo: #E8E8E6,
);