/*--------------------------------------- SECCION VIDEOS-----------------*/
.containervideo {
  text-align: center;
    margin-top: 40px;
    padding: 0;
    @include flexbox;
    justify-content: space-evenly;
    align-content: space-around;
    width: 100%; 
    h2 {
      font-family: 'Permanent Marker', cursive;
      color: $titulos;
      font-size: 40px;
      height: 10rem;
      margin-top: 2rem; 
    }
    iframe{
      margin-right: 2rem;
      margin-top: 1rem;
      height: 400px;
      width: 400px;
      box-shadow: 5px 5px 1px 2px $backgroundGeneral;
      transition: transform 0.3s ease-in-out;
    }
    .orchestral, .recent, .inconcert {
      transition: transform 0.3s ease-in-out;
      box-sizing: border-box;
      padding: 1rem;
      margin-bottom: 10rem;
      width: 100%;
    }
  }

  .orchestral{
    width: 100%;
    background-image: url(../imagenes/videos/imposibleor-min.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    iframe:hover{
      filter: opacity(0.9);
      transform: scale(1.04);
    }
 
      }

  .inconcert{
    background-image: url(../imagenes/videos/Nothing_but_thieves-min.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    iframe:hover{
      filter: opacity(0.9);
      transform: scale(1.04);
    }
  }
  .recent{
    background-image: url(../imagenes/videos/mosrecent-min.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    iframe:hover{
      filter: opacity(0.9);
      transform: scale(1.04);
    }
  }
  
  