
.container {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:  1fr 0.5fr 0.2fr 0.1fr 0.1fr ;
grid-template-areas:
"navegacion"
"sectionbio "
"albums"
"tours "
"footer "
}
.navegacion { grid-area: navegacion; }
.sectionbio { grid-area: sectionbio; }
.albums{ grid-area: albums; }
.tours { grid-area: tours; }
.footer { grid-area: footer; }
*{
margin: 0;
padding: 0;
text-decoration: none;
}

body{
font-family: 'Hubballi', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Caveat', cursive;
background-image: url(../imagenes/45degreee_fabric.png);
background-repeat: repeat;
text-decoration: none;
}
.barras{
line-height: 80px;
font-size: 40px;
float: right;
margin-right: 50px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
.navegacion__titulo{
font-weight: 600;
font-size: 40px; 
padding-top: 2%;
text-align: center;
}
a{
color: black;
}
.header img{
    width: 100%; 
object-fit: cover;
}

.navegacion{
background-color: #eeeeee;
font-weight: 500;
height: 200px;
text-align: center;
width: 100%;
}
/* .nav:hover{
height: 2rem;
width: 6rem;
text-align: center;
background-color: red;
}  */
.menu li{
font-size: 20px;
margin-left: 4%;
margin-top: 2%;
padding: 2px;
display: flex;
display: inline-block;
}
     /* SECCION BIOGRAFIA INDEX */
.sectionbio{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/newspaper.JPEG);
box-shadow: -15px -10px 20px red;
height: 50rem;

}
.sectionbio h2{
box-shadow: 5px 5px 8px red;
font-size: 60px;
font-weight: 200;

margin: 1rem 10rem;
width: 60%;
text-align: center;
}
.textoprincipal{
margin: 2rem 16rem;
padding: 2rem;
border-radius: 1%;
text-transform: uppercase;
width: 60%;
height: 37rem;
background-image: url(../imagenes/45degreee_fabric.png);
text-align:center;
font-size: 25px;
line-height: 60px;
box-shadow: 10px 10px 25px black;
font-family: 'Caveat', cursive;
}
/* -----------SECCION ALBUM INDEX-------- */

.albums {
margin-top: 4rem;
height: 50rem;
width: 90%;
font-size: 50px;
margin-left: 0.5rem; 

}
.flex{
display: flex;
}
.columnaalbum a{
display: block;
}
.columnaalbum img{
    box-shadow: 5px 5px 8px red; 
    
}
.more{
opacity: 0.9;
display: block;
font-size: 40px;
margin-left: 10%;
margin-top: 15%;
height: 25rem;
width: 35rem;
padding: 15px;
background-color: red;
line-height: 6rem;
text-align: center;
}
.albums a:hover{
background-image: url(../imagenes/pexels-adrien-olichon-2387532.jpg);
box-shadow: 4px 4px 5px black;
border-radius: 5%;
width: 35rem;
height: 5rem;
}
/* -------SECCION TOURS INDEX--------- */
.tours h1{
font-size: 80px;
text-align: center;
width: 80%;
margin: 1rem 7rem;
padding: 0;
}
.tourindex{
margin-top: 4%;
width: 100%;
color: white;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/conciertoo.jpg);
height: 40rem;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
font-size: 25px;
text-align: center;
word-spacing: 5px;
}
.tourindex__item{
width: 700px;
height: 90px;
padding: 5px;
border-bottom: 1px solid white;
}
.tourindex__item:hover{
background-color: black;
height: 60px;
opacity: 0.5;
}
.moretour:hover{
background-color: #f2e9e4;
opacity: 0.5;
}
.moretour{
background-color: #ffd60a;
width: 25%;
margin-top: 4rem;
text-align: center;
font-weight: 800;
font-size: 40px;
}
.botonindex{
font-size: 15px;
word-spacing: 2px;
background-color:black;
color: white;
height: 30px;
}
/* -----FOOTER INDEX*------- */
footer{ 
background-color: #d00000;
height: 17rem;
width: 100%;
margin-top: 1.5rem;
box-shadow: -5px -5px 5px  18px #d00000;
}
.flex{
display: flex;
}
footer img{
display: inline-block;
width: 2rem;
border: 2px solid black; 
border-radius: 8px;
padding: 5px;
}
.footer img:hover{
border-color: #ffd60a;
}
.redes a{
display:inline-block;
justify-content: center;
align-items: center;
margin-left: 8rem;
margin-top: 4rem;
}  
.registrofooter{
margin: 0 2rem;
opacity: 0.9;
background-color: #ffd60a;
width: 30rem;
height: 10rem;
padding: 1rem;
}
.registrofooter input{
display: inline-block;
font-family:  'Hubballi', cursive;
height: 15px;
margin: 0;
border-radius: 10%;
background-color: #d8dee9;
}
#copyright{
font-size:20px;
margin-left: 30rem;
margin-top: 2rem;
width: 40rem;
/* height: 1rem; */
text-align: center;
}
/*-------------------fin del index principal/------*/

/* ----------------------TOUR DATES----------------------------*/
.containertour {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:    0.1fr 0.1fr 0.1fr; 
grid-template-areas:
"navegaciontour"
"secciontour"
"footertour"
}
.navegaciontour { grid-area: navegaciontour; }
.secciontour { grid-area: secciontour; }
.footertour {grid-area: footertour;}

.barrastour{
    line-height: 80px;
    font-size: 40px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
    display: none;
    }
    #check{
    display: none;
    }
    .navegaciontour__titulo{
    font-weight: 600;
    font-size: 40px; 
    padding-top: 2%;
    text-align: center;
    }
    a{
    color: black;
    }
    .headertour img{
    width: 100%; 
    object-fit: cover;
    margin-top: 10px;
    }
    .navegaciontour{
    background-color: #eeeeee;
    font-weight: 500;
    height: 200px;
    text-align: center;
    width: 100%;
    }
    /* .navtour:hover{
    height: 5rem;
    width: 8rem;
    text-align: center;
    background-color: #d00000;
    }  */
    .menutour li{
    font-size: 20px;
    margin-left: 4%;
    margin-top: 2%;
    padding: 2px;
    display: flex;
    display: inline-block;
    }

.secciontour h1{
margin-top: 2rem;
margin-bottom: 3rem;
font-size: 50px;
} 
.secciontour{
font-size: 30px;
width: 100%;
height: 200rem;
color: white;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center; 
background-color: black;
text-transform: uppercase; 

}
.tourboton{
color: white;
text-align: center;
font-family: 'Caveat', cursive;
background-color: transparent;
text-transform: uppercase;
margin-left: 1rem;
}
.secciontour__fechas{
height: 5rem;
width: 65rem;
margin-top: 4rem;
padding: 1rem 2rem;
text-align: center;
border: 2px solid #d00000;
border-style: dashed;
}
.secciontour__fechas:hover{
background-color: #343a40;
width: 70%;
height: 10rem;
text-align: center;
}
.footertour{ 
    background-color: #d00000;
    height: 17rem;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: -5px -5px 5px  18px #d00000; 
    }
    .flex{
    display: flex;
    }
    .footertour img{
    display: inline-block;
    width: 2rem;
    border: 2px solid black; 
    border-radius: 8px;
    padding: 5px;
    }
    .footertour img:hover{
    border-color: #ffd60a;
    }
    .redestour a{
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-top: 4rem;
    }  
    .registrofootertour{
    margin: 0 2rem;
    opacity: 0.9;
    background-color: #ffd60a;
    width: 30rem;
    height: 10rem;
    padding: 1rem;
    }
    .registrofootertour input{
    display: inline-block;
    font-family:  'Hubballi', cursive;
    height: 15px;
    margin: 0;
    border-radius: 10%;
    background-color: #d8dee9;
    }
    #copyrighttour{
    font-size:20px;
    margin-left: 30rem;
    margin-top: 2rem;
    width: 40rem;
    /* height: 1rem; */
    text-align: center;
    }


/*FIN DE TOUR DATES-------------------------*/
/* ----RESPONSIVE INDEX Y TOURDATES */
@media screen and (min-width:240px) and (max-width: 320px){
.container {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:  0.4fr 0.1fr  0.1fr 0.1fr 0.9fr 0.1fr ;
grid-template-areas:
 "navegacion"
"sectionbio"
"sectionbio"
"albums"
"tours "
"footer "
}
.navegacion { grid-area: navegacion; }
.sectionbio { grid-area: sectionbio; }
.albums{ grid-area: albums; }
.tours { grid-area: tours; }
.footer { grid-area: footer; }

*{
overflow-x: hidden;
margin: 0;
padding: 0;
}
.navegacion flex{
display: flex;
/*flex-wrap: wrap; */
}
.navegacion{
width:100%;
height:10rem;
display: block;
}
.nav{
width: 60%;
height: 2rem;
}
.barras{ 
display: block;
margin:10px 10px;
font-size:80px;
}
ul{
position: absolute;
width: 100%;
height: 60%;
background-color: #d00000;
left: -100%;
text-align: center;
transition: all .5s;
}
.menu ul li{
display: block;
margin:40px 0;
line-height: 40px;
}
.menu ul li a{
font-size: 20px;
display: block;
}
li a:hover, li a.active{
background: none;
}
#check:checked~ ul{
left: 0;
}
.sectionbio{
height: 40rem;
margin-top: 10px;
}
.textoprincipal h2{
margin-bottom: 10px;
margin-left:15px;
text-align: center;
width:14rem;
font-size:20px;
}
.textoprincipal{
overflow-y:hidden;
height: 38rem;
width:90%;
padding-left: 1px;
margin-top: -20px;
margin-left: 1px;
text-align:center;
}
.textoprincipal p{
font-size: 17px;
line-height: 30px;
padding-right: 1px;
}
.albums{
background-color: #d00000;
height: 50rem;
width:100%;
margin-top:20px;
margin-left: 0;
display: block;
}
.columnaalbum{
width: 100rem;
padding: 0;
margin: 0;
}
.more{
box-shadow: -1px -4px 2px 4px black;
margin-top: 5rem;
height: 40rem;
font-size: 20px;
margin-left: 5px;
background-color: #d00000;
}   
.columnaalbum h2{
font-size: 30px;
}
/* ------ */
.tourindex__item{
text-align: left;
font-size: 20px;
height: 5rem;
width: 15rem;
}
.tours h1{
font-size: 25px;
}
.moretour{
margin-left: 1px;
width: 15rem;
}
footer{
width: 100%;
height: 22rem;
background-color: #d00000;
margin-top: 10px;
}
.registrofooter{
height: 15rem;
margin: 0;
}
.redes{
padding: 25px;
position: relative;
left: 10px;
margin: 0;
width: 230px;
height: 16rem;
}
.redes a{
margin: 0;
} 
}
@media screen and (min-width:321px) and (max-width: 480px){
.container {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:   0.4fr 0.10fr  1fr 0.9fr 0.1fr 0.01fr ;
grid-template-areas:
"navegacion"
"sectionbio"
"albums"
"tours "
"footer "
}
    .navegacion { grid-area: navegacion; }
    .sectionbio { grid-area: sectionbio; }
    .albums{ grid-area: albums; }
    .tours { grid-area: tours; }
    .footer { grid-area: footer; }
*{
overflow-x: hidden;
margin: 0;
padding: 0;
}
.navegacion flex{
display: flex;
flex-wrap: wrap;
}
.navegacion{
width:100%;
height:6rem;
display: block;
}
.header img{
margin-bottom: 15px;
height: 12rem; 
}
.nav{
width: 50%;
height: 2rem;
}
.barras{ 
display: block;
margin:10px 10px;
font-size:80px;
}
ul{
position: absolute;
width: 100%;
height: 60%;
background-color: #d00000;
left: -100%;
text-align: center;
transition: all .5s;
}
.menu ul li{
display: block;
margin:40px 0;
line-height: 40px;
}
.menu ul li a{
font-size: 20px;
display: block;
}
li a:hover, li a.active{
background: none;
}
#check:checked~ ul{
left: 0;
}
.sectionbio{
height: 40rem;
margin-top: 10px;
    }
.textoprincipal{
overflow-y:hidden;
height: 35rem;
width:90%;
padding-left: 1px;
margin-top: -20px;
margin-left: 1px;
text-align:center;
}
.textoprincipal p{
font-size: 17px;
line-height: 30px;
padding-right: 1px;
}
.textoprincipal h2{
margin-bottom: 10px;
margin-left:15px;
text-align: center;
width:14rem;
font-size:20px;
        }
.albums{
background-color: #d00000;
height: 50rem;
width:100%;
margin-top:20px;
margin-left: 0;
display: block;
}
.columnaalbum img {
display: block;
width: 48rem;
height: 30rem;
} 
.more{
padding: 0;
display: block;
width: 22rem;
height: 30rem;
font-size: 30px;
line-height: 45px;
}   
.columnaalbum h2{
font-size: 30px;
}
.tourindex__item{
text-align: center;
font-size: 20px;
height: 5rem;
width: 15rem;
}
.tours h1{
font-size: 25px;
}
.moretour{
margin-left: 1px;
width: 15rem;
}
footer{
width: 100%;
height: 22rem;
background-color: #d00000;
margin-top: 10px;
}
.registrofooter{
height: 15rem;
margin: 0;
}
.redes{
padding: 25px;
position: relative;
left: 10px;
margin: 0;
width: 230px;
height: 16rem;
}
.redes a{
margin: 0;
} 
}
@media screen and (min-width: 481px) and (max-width: 768px){
.container {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:   0.4fr 2fr  1fr 0.9fr 0.1fr 0.01fr ;
grid-template-areas:
"navegacion"
"sectionbio"
"albums"
"tours "
"footer "
}
.navegacion { grid-area: navegacion; }
.sectionbio { grid-area: sectionbio; }
.albums{ grid-area: albums; }
.tours { grid-area: tours; }
.footer { grid-area: footer; }

.barras{      
display: block;
margin:50px 20px;
font-size:80px;
} 
.navegacion{
width:100%;
height:16rem;
display: block;  
}
.header img{
margin-bottom: 5px;
height: 40rem;  
}
.nav{
width: 100%;
height: 4rem;
font-size: 20px;
}
.nav a{
font-size: 40px;
height: 50px;
}
ul{
position: absolute;
width: 100%;
height: 40rem;
background-color: #d00000;
left: -100%;
    -align: center;
transition: all .5s;
}
.menu ul li{
display: block;
margin:40px 0;
line-height: 40px;
font-size: 150px;
}
.menu ul li a{
font-size: 40px;
display: block;
}
li a:hover, li a.active{
background: none; 
}
#check:checked~ ul{
left: 0;
} 
.sectionbio{
height: 100rem;
margin-top: 10px;
}
.textoprincipal{
overflow-y:hidden;
height: 90rem;
width:90%;
margin:0.9rem;
font-size: 60px;
line-height: 80px;
margin-top: 10px;
}
.textoprincipal h2{
margin-bottom: 30px;
margin-left:355px;
text-align: center;
width:20rem;
font-size:50px;
} 
.albums{
margin-top: -50px;
}
.more{
font-size: 60px;
margin-top: 90px;
height: 40rem;
width: 35rem;
}
.tours{
 margin-top: -180px;
height:50rem;
}
.tourindex{
height: 60rem;
margin-bottom:10px;
}
.tourindex__item{
font-size: 48px;
width:80rem;
padding: 0;
padding-top:63px;
}
.registrofooter{
width: 25rem;
height: 15rem;
font-size: 20px;
}
.registrofooter input{
    height: 2rem;
}
} 
@media screen and (min-width:769px) and (max-width: 1024px){
nav li a{
    font-size: 40px;
}
.textoprincipal{
width: 50rem;
height: 42rem;
margin-left:170px;
}
.more{
margin-left: 20px;
width: 40rem;
height: 30rem;
font-size: 45px;
}
.tourindex__item{
font-size: 35px;
height: 6.7rem;
}
.moretour{
margin-top:5px;
}
.registrofooter{
    width: 20rem;
}
}
@media screen and (min-width:240px) and (max-width: 320px){
.containertour {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:   0.36fr  2fr 0.24fr;
grid-template-areas:
"navegaciontour"
"secciontour"
"footertour "
}
.navegaciontour {grid-area: navegaciontour;}
.secciontour { grid-area: secciontour; }
.footertour { grid-area: footertour; }

.containertour{
overflow-x: hidden;
margin: 0;
padding: 0;
 }
.headertour img{
 object-fit: cover;
}
.navegaciontour flex{
display: flex;
}
.navegaciontour{
width:100%;
height:25rem;
display: block;
}
.navegaciontour__titulo{
 font-size: 20px;
 margin-left:-1px;
}
.navtour{
width: 50%;
height: 2rem;
margin-left:-21px;
}
.barrastour{ 
display: block;
margin:10px 20px;
font-size:50px;
}
.headertour ul{
position: absolute;
width: 78%;
height: 62%;
background-color: #d00000;
left: -100%;
text-align: center;
transition: all .5s;
}
.menutour ul li{
display: block;
margin:50px 0;
}
.headertour ul li a{
margin-top: 5px;
font-size: 20px;
display: block; 
}
li a:hover, li a.active{
background: none;
} 
#check:checked~ ul{
left: 0;
}
.secciontour{
margin-bottom: 1rem;
} 
.secciontour h1{
height: 8rem;
}
.secciontour span{
display: block;    
}
.secciontour__fechas{
width: 90%;
font-size: 18px;
}
.tourboton{
font-size: 15px;
margin-top:12px;
}
.footertour{ 
background-color: #d00000;
height: 17rem;
width: 100%;
margin-top: 1.5rem;
box-shadow: -5px -5px 5px  18px #d00000; 
}
.flex{
display: flex;
}
.footertour img{
display: inline-block;
width: 2rem;
border: 2px solid black; 
border-radius: 8px;
padding: 5px;
}
.redestour a{
display:block;
justify-content: center;
align-items: center;
margin-left: 1rem;
margin-top: 1rem;
}  
.registrofootertour{
margin: 0;
opacity: 0.9;
background-color: #ffd60a;
width: 12rem;
height: 14rem;
padding: 1rem;
}
.registrofootertour input{
display: inline-block;
font-family:  'Hubballi', cursive;
height: 15px;
margin: 0;
border-radius: 10%;
background-color: #d8dee9;
}
#copyrighttour{
font-size:20px;
margin-left: 30rem;
margin-top: 2rem;
width: 40rem;
text-align: center;
 }
}
@media screen and (min-width:321px) and (max-width: 480px){
.containertour {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:   0.40fr  2fr 0.24fr;
grid-template-areas:
"navegaciontour"
"secciontour"
"footertour "
}
.navegaciontour {grid-area: navegaciontour;}
.secciontour { grid-area: secciontour; }
.footertour { grid-area: footertour; }
    
.containertour{
overflow-x: hidden;
margin: 0;
padding: 0;
}
.headertour img{
object-fit: cover;
}
.navegaciontour flex{
display: flex;
}
.navegaciontour{
width:100%;
height:25rem;
display: block;
}
.navegaciontour__titulo{
font-size: 20px;
margin-left:-1px;
}
.navtour{
width: 50%;
height: 2rem;
margin-left:-21px;
}
.barrastour{ 
display: block;
margin:10px 10px;
font-size:50px;
}
.headertour ul{
position: absolute;
width: 78%;
height: 62%;
background-color: #d00000;
left: -100%;
text-align: center;
transition: all .5s;
}
.menutour ul li{
display: block;
margin:50px 0;
}
.headertour ul li a{
margin-top: 5px;
font-size: 20px;
display: block;
}
li a:hover, li a.active{
background: none;
} 
#check:checked~ ul{
left: 0;
}
.secciontour{
margin-bottom: 1rem;
} 
.secciontour h1{
height: 8rem;
}
.secciontour span{
display: block;
}
.secciontour__fechas{
height:auto;
width: 90%;
font-size: 18px;
}
.tourboton{
font-size: 15px;
margin-top:12px;
}
.footertour{ 
background-color: #d00000;
height: 17rem;
width: 100%;
margin-top: 1.5rem;
box-shadow: -5px -5px 5px  18px #d00000; 
}
.flex{
display: flex;
}
.footertour img{
display: inline-block;
width: 2rem;
border: 2px solid black; 
border-radius: 8px;
padding: 5px;
}
.redestour a{
display:inline-block;
justify-content: center;
align-items: center;
margin-left: 2rem;
margin-top: 0;
}  
.registrofootertour{
margin: 0;
opacity: 0.9;
background-color: #ffd60a;
width: 28rem;
height: 15rem;
}
.registrofootertour input{  
display: inline-block;
font-family:  'Hubballi', cursive;
height: 15px;
margin: 0;
border-radius: 10%;
background-color: #d8dee9;
}
#copyrighttour{
font-size:20px;
margin-left: 30rem;
margin-top: 2rem;
width: 40rem;
text-align: center;
}
}
@media screen and (min-width:481px) and (max-width: 1024px){
.containertour {  display: grid;
grid-template-columns: 1fr;
grid-template-rows:   0.40fr  2fr 0.25fr;
grid-template-areas:
"navegaciontour"
"secciontour"
"footertour "
}
.navegaciontour {grid-area: navegaciontour;}
.secciontour { grid-area: secciontour; }
.footertour { grid-area: footertour; }
    
.containertour{
overflow-x: hidden; 
margin: 0;
padding: 0; 
 }
.headertour img{
object-fit: cover;
width: 100%;
}
.navegaciontour flex{
display: flex;
}
.navegaciontour{
width:100%;
height:26rem;
display: block;
}
.navegaciontour__titulo{
font-size: 20px;
 margin-left:-1px;
}
.navtour{
width: 50%;
height: 2rem;
margin-left:-21px;
}
.barrastour{ 
display: block;
margin:10px 220px;
font-size:50px;
}
.headertour ul{
position: absolute;
width: 55%;
height: 65%;
background-color: #d00000;
left: -100%;
text-align: center;
transition: all .5s;
}
.menutour ul li{
display: block;
margin:50px 0;
}
.headertour ul li a{
margin-top: 5px;
 width: 60%;
font-size: 35px;
display: block; 
}
li a:hover, li a.active{
background: none;
} 
#check:checked~ ul{
left: 0;
}
.tours{
margin-bottom: 10px;
height: auto;
}
.secciontour h1{
height: 8rem;
margin-top: 2px;
margin-left: -205px;
}
.secciontour span{
display: inline-block;
    text-align: center;
    width: 40%;
    }
    .secciontour__fechas{
    padding: 10px;
    margin-top: 10px;
    height:auto;
    width: 25rem;
    font-size: 20px;
    }
    .tourboton{
    font-size: 15px;
    margin-top:12px;
    margin-left: 135px;
    display: block;
    }
    .footertour{ 
    background-color: #d00000;
    height: 17rem;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: -5px -5px 5px  18px #d00000; 
    }
    .flex{
    display: flex;
    }
    .footertour{
    margin-top: 30px;
    }
    .footertour img{
    display: inline-block;
    width: 2rem;
    border: 2px solid black; 
    border-radius: 8px;
    padding: 5px;
    }
    .registrofootertour{
        margin: 0;
        margin-left: 10px;
        opacity: 0.9;
        background-color: #ffd60a;
        width: 20rem;
        height: 15rem;
        }
        .redestour a{
            width: 100%;
            height: 15%;
            display:block;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center; 
            margin-left: 50%;
            margin-top: 15px; 
            }  
    #copyrighttour{
    font-size:15px;
    margin-left: -50px;
    margin-top: 1rem;
    width: 40rem;
    text-align: center; 
    }
}
