/*-----ANIMACIONES!!!--------------------*/ 
h1{
animation: pulse; 
animation-duration: 2s; 
}
.containerphoto img:hover{
animation: pulse; 
animation-duration: 1s;
}
.menupropio a:hover{
animation: flash;
animation-duration: 1s;
}
.padrediscography img:hover{
animation: pulse;
animation-duration: 1s;
}

*{
margin: 0;
padding: 0;
text-decoration: none;
overflow-x: hidden;
}
body{
font-family: 'Hubballi', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Caveat', cursive;
background-color: black;
}

/*--------------------------INDEX--------------------------------------*/
nav{
height: 10rem;
}
.imagenprincipal img{
filter: brightness(50%); 
object-fit: cover;
width: 100%;
height: 30rem;
}
.imagenprincipal:hover{
    filter: brightness(150%);

}
a{
color:black;
text-decoration: none;
}
.titulopropio {
font-weight: 800;
font-size: 20px;
background-color: #d00000;
}
.menupropio{
text-align: right;
}
.menupropio  a{
font-weight: 500;
font-size: 25px;
color: black;
text-align: center;
margin-right: 20px;
}
.parrafoindex{
height: auto;
}
.parrafoprincipal{
text-align:center;
font-family: 'Space Mono', monospace;
font-size: 30px;
color: #e5e5e5;
height: 40rem;
padding: 20px;
}
.parrafoprincipal h2{
font-family: 'Hubballi', cursive;
margin-top: 3rem;
color: #6a040f;
border-bottom: 2px solid gray;
height: 3rem;
text-align: center;
font-size: 35px;
}
.parrafoprincipal h2:hover{
    background-color: orange;
}
.otroparrafoprincipal{
height: 40rem;
text-align: center;
}
.otroparrafoprincipal p{
    font-size: 20px;
    color: #d00000;
    font-family: 'Space Mono', monospace;
}
.otroparrafoprincipal img{
border-radius: 10%;
width: 600px;
height: 500px;
margin: 15px;
}
.linkalbum{
display: flex;
flex-direction: row;
justify-content: space-around;
justify-content: center;
align-content:flex-end;
}
.linkalbum a img{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 15rem 5rem;
    border-radius: 15%;
    padding: 15px;
}
.imagenparrafoprincipal{
background-repeat: no-repeat;
object-fit: cover;
}
.tabla h2{
text-align: center;
height: 6rem;
font-size: 65px;
color: #d00000;
}
.tabla{
background-color: black;
text-align: center;
font-size: 40px;
height: 60rem;
margin-top: 10rem;

}
.tabla th{
    color: #d00000;
} 
.tabla tr{
    height: 7rem;
    color: #343a40;
}
.tabla tr:hover{
background-color: #14B2B8;
} 
.tabla button{
background-color: #6a040f;
font-family: 'Space Mono', monospace;
font-size: 40px;
margin-top: 65px;
font-weight: 900;
}
/*----responsive*/
@media screen and (max-width:980px){
.titulopropio{
visibility: hidden;
} 
nav{
height: 25rem;

}
.barranavpropio{
height: 24rem;
margin-top: 1px;
}
}
/* -------------------------------------FOOTER INDEX*--------------------- */
.footer{ 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
height:auto;
}
.footer img:hover{
border-color: #ffd60a;
}
.registro h2{
font-size: 20px;
color: #e63946;
} 
.registro{
border: 1px solid white;
border-style: dashed;
font-size: 20px;
height: auto;
padding: 1rem;
margin-top: 10px;
}
.registro input{
font-family:  'Hubballi', cursive;
background-color: #343a40;
color: grey;
}
.registro button{
background-color: red;
margin-top: 15px;
}
.redsocial{
display: inline-block;
text-align: center;
margin-top: 4rem;
}
.redsocial a img{
background-color: #d00000;
width: 40px;
height: 40px;
padding: 5px;
margin-right: 20px;
border-radius: 20%;
border: 2px solid red;
} 
.copyright{
font-size:15px;
margin-top: 1rem;
text-align: center;
}
/*-------------------fin del index principal/------*/

/* ----------------------TOUR DATES----------------------------*/
.tours h1{
font-family:  'Hubballi', cursive;
height: 8rem;
font-size: 80px;
margin: 2rem 1px;
}
.tours h1:hover{
    color: red;
}
.tours{
color: #d8dee9;
font-family: 'Space Mono', monospace;
height: auto;
display: flex;
display: block;
text-align: center;
justify-content: center;
align-items: center;
}
.item{
border-top: 2px solid red;
font-size: 40px;
 margin-bottom: 8rem;
}
.item:hover{
background-color: #343a40;
}
.item button{
flex-direction: column;
color: grey;
align-items: center;
justify-content: center;
text-align: center;
}
.item button:hover{
background-color: #e63946;
}
.imagentour img{
object-fit: fill; 
opacity: 0.5;
margin-left: -20px;
}

/*FIN DE TOUR DATES-------------------------*/
/*--------------------------------SECCION PHOTOS---------------------*/
.fondophoto{
background-color: #0c285e;
} 
.headerphoto{
background-color: #eeeeee; 
font-weight: 500;
height: 100px;
text-align: center;
width: 100%;
}
.navegacionphoto{
background-color: #eeeeee;
font-weight: 500;
height: 200px;
text-align: center;
width: 100%;
}
.menuphoto li{
font-size: 20px;
margin-left: 4%;
margin-top: 1%; 
padding: 2px;
display: flex;
display: inline-block;
} 
.menuphoto li a{
font-weight: 800;
}
.navegacionphoto__titulo{
font-weight: 600;
font-size: 30px; 
text-align: center;
padding-top: 2%;
}
.barrasphoto{
line-height: 80px;
font-size: 40px;
float: right;
margin-right: 50px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
/*body seccion photo*/
.containerphoto{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 100%;
margin-top: 5rem;
}
.containerphoto img{
margin-top: 25px;
height: 400px;
width: 400px;
object-fit: cover;
box-shadow: 5px 5px 2px 2px black;
}
/*footer seccion photos*/
.footerphoto{ 
    background-color: #d00000;
    height: auto;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: -5px -5px 5px  18px #d00000;
    }
    .flex{
    display: flex;
    }
    .footerphoto img{
    display: inline-block;
    width: 2rem;
    border: 2px solid black; 
    border-radius: 8px;
    padding: 5px;
    }
    .footerphoto img:hover{
    border-color: #ffd60a;
    }
    .redesphoto {
    width: 30%;
    height: 20%;
    
    display:inline-block;
    margin-left: 20%;
    margin-top: 4rem;
    } 
    .redesphoto a{
    margin-left: 10%;
    } 
    .registrofooterphoto{
    opacity: 0.9;
    background-color: #6a040f;
    width: 25%;
    height: 12rem;
    padding: 1rem;
    font-size: 10px;
    }
    .registrofooterphoto input{
    display: inline-block;
    font-family:  'Hubballi', cursive;
    height: 15px;
    margin: 0;
    margin-top: 5px;
    background-color: #d8dee9;
    }
    #copyrightphoto{
    font-size:15px;
    position: sticky;
    left: 40%;
    top: 50%;
    } 
/*--------------------------------------- SECCION VIDEOS-----------------*/
 .fondovideo{
    background-color: #0c285e;
}
.headervideo{
background-color: #eeeeee; 
font-weight: 500;
height: 180px;
text-align: center;
width: 100%;
}
.navegacionvideo{
background-color: #eeeeee;
font-weight: 500;
height: 200px;
text-align: center;
width: 100%;
}
.menuvideo li{
font-size: 20px;
margin-left: 4%;
margin-top: 2%;
padding: 2px;
display: flex;
 display: inline-block;
} 
.menuvideo li a{
    font-weight: 800;
}
.navegacionvideo__titulo{
font-weight: 600;
font-size: 40px; 
padding-top: 2%;
text-align: center;
}
.barrasvideo{
line-height: 80px;
font-size: 40px;
float: right;
margin-right: 50px;
cursor: pointer;
display: none;
}
#check{
display: none;
 }
        /*body seccion video*/
 .containervideo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    }
    .containervideo iframe{
    margin-top: 25px;
    height: 500px;
    width: 500px;
    object-fit: cover;
    box-shadow: 5px 5px 2px 2px red;
    }
        /*footer seccion video*/
    .footervideo{ 
    background-color: #d00000;
    height: 20rem;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: -5px -5px 5px  18px #d00000;
    }
    .flex{
    display: flex;
    }
    footervideo img{
    display: inline-block;
    width: 2rem;
    border: 2px solid black; 
    border-radius: 8px;
    padding: 5px;
    }
    .footervideo img:hover{
    border-color: #ffd60a;
    }
    .redesvideo {
    width: 50%;
    height: 30%;
    margin-left: 20%; 
    margin-top: 4rem;
    } 
    .redesvideo a{
    margin-left: 10%;
    } 
    .registrofootervideo{
    margin: 0;
    opacity: 0.9;
    background-color: #6a040f;
    width: 30%;
    height: 60%;
    padding: 0;
    }
    .registrofootervideo input{
    display: inline-block;
    font-family:  'Hubballi', cursive;
    height: 15px;
    margin: 0;
    border-radius: 10%;
    background-color: #d8dee9;
    }
    #copyrightvideo{
        text-align: center;
        margin-top: 25px;
        position: sticky;
        font-size: 15px;
        top: 90%;
        left: 40%;
    }
/*---------------------DISCOGRAPHY---------------*/  
.fondo{
    background-image: url(../imagenes/pexels-kristina-paukshtite-1998922.jpg);
    background-repeat: repeat;
    object-fit: cover;
}         
.headerdisco{
background-color: #eeeeee; 
font-weight: 500;
height: 180px;
text-align: center;
width: 100%;
}
.navegaciondisco{
background-color: #eeeeee;
font-weight: 500;
 height: 90px;
text-align: center;
width: 100%;
}
.menudisco li{
font-size: 20px;
margin-left: 4%;
margin-top: 2%;
padding: 2px;
display: flex;
display: inline-block;
} 
.menudisco li a{
    font-weight: 800;
}
.navegaciondisco__titulo{
font-weight: 600;
font-size: 30px; 
text-align: center;
    }
    .barrasdisco{
    line-height: 80px;
    font-size: 40px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
    display: none;
    }
    #check{
    display: none;
    }
    
        /*body seccion discography*/
    .padrediscography{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    }
   
    .padrediscography img{
    margin-top: 25px;
    margin-right: 10px;
    height: 500px;
    width: 500px;
    object-fit: cover;
    box-shadow: 5px 5px 2px black;
    }
    .padrediscography h2{
        border: 4px black  solid;
        border-style: dashed;
        border-radius: 2%;
        color:white;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
            /*footer seccion discography*/
    footerdisco{ 
    background-color: #d00000;
    height: 20rem;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: -5px -5px 5px  18px #d00000;
    }
    .flex{
    display: flex;
    }
    footerdisco img{
    display: inline-block;
    width: 2rem;
    border: 2px solid black; 
    border-radius: 8px;
    padding: 5px;
    }
    .footerdisco img:hover{
    border-color: #ffd60a;
    }
    .redesdisco{
    width: 30%;
    height: 20%;
    display:inline-block;
    margin-left: 20%;
    margin-top: 4rem;
    } 
    .redesdisco a{
    margin-left: 10%;
    } 
    .registrofooterdisco{
    margin: 0 2rem;
    opacity: 0.9;
    background-color: #6a040f;
    width: 30%;
    height: 50%;
    padding: 1rem;
    }
    .registrofooterdisco input{
    display: inline-block;
    font-family:  'Hubballi', cursive;
    height: 15px;
    margin: 0;
    border-radius: 10%;
    background-color: #d8dee9;
    }
    #copyrightdisco{
    font-size:15px;
    margin-left: -700px; 
    margin-top: 16%;
    width: 25%;
    height: 2%;
    }
/*-------------ABOUT------------------*/
.aboutpadre{
background-color: aquamarine;
}
.integrante{

background-color: #E8E8E6;
padding: 10px;
box-sizing: border-box;
box-shadow: 4px 4px 5px 5px #E8E8E6;
} 
 .integrante img{
object-fit: cover;
width: 500px;
height: 500px;
} 
.integrante h3{
color: #d00000;
}
.integrante p{
font-weight: 800;
font-size: 30px;
text-align: center;
margin-top: 10px;
}

/* ------------------RESPONSIVE PHOTOS-------------------- */
@media screen and (min-width:140px) and (max-width: 320px){
    .headerphoto nav ul{
        height: 45%;
        width: 55%;
    }
    .headerphoto nav h1{
        font-size: 20px;
    } 
.navegacionphoto flex{
display: flex;
}
.navegacionphoto{
width:100%;
height:10rem;
display: block;
}
.navphoto{
width: 60%;
height: 2rem;
}
.barrasphoto{ 
display: block;
margin:10px 20px;
font-size:40px;
}
ul{
position: absolute;
width: 100%;
height: 60%;
color: #343a40;
left: -100%;
text-align: center;
transition: all .5s;
}
.menuphoto ul li{
color: #343a40;
display: block;
margin:10px 0;
line-height: 40px;
}
.menuphoto ul li a{
font-size: 20px;
display: block;
}
li a:hover, li a.active{
background: none;
}
#check:checked~ ul{
left: 0;
}
.containerphoto img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.registrofooterphoto{
font-size: 10px;
opacity: 0.9;
background-color: #ffd60a;
width:40%;
height: 12rem;
}
.redesphoto {
margin-left: 5%;
margin-top: 5%;
} 
#copyrightphoto{
    text-align: center;
    margin-top: 25px;
    position: sticky;
    font-size: 15px;
    top: 80%;
    left: 20%;
}
}
@media screen and (min-width:321px) and (max-width: 768px){
.headerphoto nav ul{
height: 50%;
width: 55%;
} 
.headerphoto nav a{
font-size: 15px;
}
.navegacionphoto{
width:100%;
height:10rem;
display: block;
}
.navphoto{
width: 60%;
height: 2rem;
}
ul{
position: absolute;
width: 50%;
height: 60%;
background-color: #d00000;
left: -100%;
text-align: center;
transition: all .5s;
}
.menuphoto ul li a{
display: block;
}
li a:hover, li a.active{
background: none;
}
#check:checked~ ul{
left: 0;
}
.barrasphoto{ 
display: block;
margin:10px 10px;
font-size:40px;
} 
.registrofooterphoto{
font-size: 10px;
width: 9rem;
height: 13rem;
opacity: 0.9;

}
.redesphoto {
margin-left: 5%;
height: 100%;
width: 40%;
}
#copyrightphoto{
text-align: center;
margin-top: 25px;
position: sticky;
font-size: 15px;
top: 80%;
left: 20%;
}
}
/* -------------RESPONSIVE VIDEOS--------- */
@media screen and (min-width:140px) and (max-width: 320px){  .headervideo nav ul{
    height: 62%;
    width: 60%;
    } 
    .headervideo nav h1{
    font-size: 10px;
    }
    .navegacionvideo flex{
    display: flex;
    }
    .navegacionvideo{
    width:100%;
    height:10rem;
    display: block;
    }
    .navvideo{
    width: 60%;
    height: 2rem;
    }
    .barrasvideo{ 
    display: block;
    margin:10px 20px;
    font-size:80px;
    }
    ul{
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #d00000;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
    .menuvideo ul li{
    display: block;
    margin:10px 0;
    line-height: 40px;
    }
    .menuvideo ul li a{
    font-size: 20px;
    display: block;
    }
    li a:hover, li a.active{
    background: none;
    }
    #check:checked~ ul{
    left: 0;
    }
    .containervideo iframe{
    margin-top: 25px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    }
    .footervideo{
        height: 100%;
    }
    .registrofootervideo{
        width: 50%;
        height: 80%;
    }
    .redesvideo{
        width: 45%;
        height: 50%;
        margin-left: 1px;
    }
    #copyrightvideo{
        text-align: center;
        margin-top: 25px;
        position: sticky;
        font-size: 15px;
        top: 80%;
        left: 20%;
    }
    }
    @media screen and (min-width:321px) and (max-width: 768px){
     .headervideo nav ul{
    height: 40%;
    width: 40%;
    } 
    .headervideo nav h1{
    font-size: 20px;
    }
    .navegacionvideo{
    width:100%;
    height:10rem;
    display: block;
    }
    .navvideo{
     width: 60%;
    height: 2rem;
    }
    ul{
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: #d00000;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
    .menuvideo ul li a{
    font-size: 20px;
    display: block;
    }
    li a:hover, li a.active{
    background: none;
    }
    #check:checked~ ul{
    left: 0;
    }
    .barrasvideo{ 
    display: block;
    margin:10px 10px;
    font-size:80px;
    } 
    
    .containervideo iframe{
    margin-top: 25px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    }
    .footervideo{
        height: 100%;
    }
    .registrofootervideo{
        width: 50%;
        height: 80%;
    }
    .redesvideo{
        width: 45%;
        height: 50%;
        margin-left: 1px;
    }
    #copyrightvideo{
        text-align: center;
        margin-top: 1px;
        position: sticky;
        font-size: 15px;
        top: 40%;
        left: 20%;
    }
    }
    @media screen and (min-width:768px) and (max-width: 1200px){
    .headervideo nav ul a{
    height: 90%;
    font-size: 20px;  
    }
    .registrofootervideo{
        width: 30%;
        height: 60%;
    }
    }
    /* --------------RESPONSIVE DISCOGRAPHY---------------------------------------------------------------------------pwd
     */
@media screen and (min-width:140px) and (max-width: 320px){
    .headerdisco nav ul{
    height: 20%;
    width: 70%;
    } 
    .navegaciondisco flex{
    display: flex;
    }
    .navegaciondisco{
    width:100%;
    height:10rem;
    display: block;
    }
    .navdisco{
    width: 60%;
    height: 2rem;
    }
    .barrasdisco{ 
     display: block;
            margin:10px 20px;
            font-size:20px;
            }
            ul{
            position: absolute;
            width: 100%;
            height: 60%;
            background-color: #d00000;
            left: -100%;
            text-align: center;
            transition: all .5s;
            }
            .menudisco ul li{
            display: block;
            margin:10px 0;
            line-height: 40px;
            }
            .menudisco ul li a{
            font-size: 20px;
            display: block;
            }
            li a:hover, li a.active{
                background: none;
            }
            #check:checked~ ul{
            left: 0;
            }
            .padrediscography img{
            margin-top: 25px;
            height: 200px;
            width: 200px;
            object-fit: cover;
            }
            .registrofooterdisco{
            font-size: 15px;
            opacity: 0.9;
            width:45%;
            height: 12rem;
            padding: 0.2rem;
            }
            .footerdisco{
            height: 100%;
            }
            .registrofooterdisco{
            width: 50%;
            height: 80%;
            margin: 0;
            }
            .redesdisco{
            width: 45%;
            height: 50%;
            margin-left: 1px;
            }
            #copyrightdisco{
            text-align: center;
            margin-top: 25px;
            position: sticky;
            font-size: 15px;
            top: 80%;
            left: 20%;
            }
                }
        @media screen and (min-width:321px) and (max-width: 480px){
                 .headerdisco nav ul{
                 height: 20%;
                width: 70%;
                } 
                .navegaciondisco{
                width:100%;
                height:10rem;
                display: block;
                }
                 .navvideo{
                width: 60%;
                height: 2rem;
                }
                ul{
                position: absolute;
                width: 50%;
                height: 60%;
                background-color: #d00000;
                left: -100%;
                text-align: center;
                transition: all .5s;
               }
                .menudisco ul li a{
                font-size: 20px;
                display: block;
                }
            li a:hover, li a.active{
            background: none;
                }
                #check:checked~ ul{
                left: 0;
                }
                .barrasdisco{ 
                display: block;
                margin:10px 10px;
                font-size:80px;
                }
                .padrediscography img{
                margin-top: 25px;
                height: 300px;
                width: 300px;
                object-fit: cover;
                }
                .registrofooterdisco{
                    font-size: 15px;
                    opacity: 0.9;
                    width:45%;
                    height: 12rem;
                    padding: 0.2rem;
                    }
                    .footerdisco{
                    height: 100%;
                    }
                    .registrofooterdisco{
                    width: 50%;
                    height: 60%;
                    margin: 0;
                    }
                    .redesdisco{
                    width: 45%;
                    height: 50%;
                    margin-left: 1px;
                    }
                    #copyrightdisco{
                    width: 100%;
                    height: 20%;
                    text-align: center; 
                    position: sticky;
                    font-size: 15px;
                    margin-top: 60%;
                    top: 20rem;
                    left: 20%;
                    }
                }
                @media screen and (min-width:481px) and (max-width: 768px){
                    .footerdisco{
                        height: 100%;
                        }
                    .registrofooterdisco{
                        height: 70%;
                        width: 42%;
                        margin: 0;
                    }
                    #copyrightdisco{
                        visibility: hidden;
                        }
            } 
            @media screen and (min-width:769px) and (max-width: 2045px){
                #copyrightdisco{
                    width: 100%;
                    height: 20%;
                    text-align: center; 
                    position: sticky;
                    font-size: 15px;
                    margin-top: 2%;
                    top: 30rem;
                    left: 50%;
                    }
            }
