/*-------------ESTILOS GENERALES-----------------*/
/*---MIXIN---*/
/*----MAPA------*/
.filauno {
  border: 5px 8px 5px #d00000; }

.filados {
  border: 5px 8px 5px #b3abab; }

/*----MAP GET ------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  box-sizing: border-box; }

body {
  font-family: 'Permanent Marker', cursive;
  background-color: black; }
  body a {
    color: black;
    text-decoration: none; }
  body a:hover {
    color: #b7094c; }

/*--------------------------NAV-------------------------------------*/
.header {
  background-image: url(../imagenes/fondooprueba.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .navbar a {
    color: #B74C5C; }
  .header .navbar .nav-link {
    color: #e5e5e5; }

.titulopropio {
  font-size: 20px; }

.menupropio {
  margin-left: 1rem; }
  .menupropio a {
    font-weight: 500;
    font-size: 25px;
    text-align: center; }

.parrafoindex {
  height: auto; }
  .parrafoindex .parrafoprincipal {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    width: 92%;
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
    padding: 10px;
    margin-left: 20px;
    color: #b3abab; }

.otroparrafoprincipal {
  border-radius: 20px;
  opacity: 0.9;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 100%;
  height: auto;
  border: 2px solid black;
  border-style: dashed;
  box-sizing: border-box;
  text-align: center; }
  .otroparrafoprincipal iframe {
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    margin: 11px;
    width: 300px;
    height: 350px; }
    .otroparrafoprincipal iframe:hover {
      filter: opacity(0.9);
      transform: scale(1.04); }
  .otroparrafoprincipal img {
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    margin: 11px;
    border-radius: 10%;
    width: 350px;
    height: 350px; }
    .otroparrafoprincipal img:hover {
      filter: opacity(0.9);
      transform: scale(1.04); }

.linkalbum {
  width: 100%;
  background-color: #E8E8E6;
  border: 2px solid black;
  border-style: dashed;
  margin-top: 10px; }
  .linkalbum a img {
    width: 80px;
    height: 80px;
    background-color: #E8E8E6;
    border-radius: 15%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 4rem;
    margin-right: 5rem;
    margin-left: 50px; }
    .linkalbum a img:hover {
      background-color: #b7094c; }
  .linkalbum p {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
    text-align: center;
    font-size: 50px;
    color: #b7094c; }

.videoindex {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .videoindex iframe {
    width: 90%;
    height: 42rem; }

.tabla {
  background-color: #E8E8E6;
  text-align: center;
  font-size: 30px;
  margin-top: 10rem; }
  .tabla tr {
    height: 7rem;
    color: #343a40;
    font-family: 'Courier New', Courier, monospace; }
    .tabla tr:hover {
      font-weight: 800;
      background-color: #ffff6d; }
    .tabla tr th {
      color: #b7094c; }
  .tabla h2 {
    padding-top: 1rem;
    text-align: center;
    height: 6rem;
    font-size: 55px;
    color: #b7094c; }
  .tabla .boton {
    font-size: 30px;
    margin-bottom: 25px; }

/*-------NEWS------------*/
.latest-news {
  height: auto;
  margin-right: 20px;
  margin-left: 20px; }

.latest-news_title {
  height: 15rem;
  letter-spacing: 5px;
  color: #b7094c;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 50px; }
  .latest-news_title h2 {
    font-size: 45px;
    height: 8rem; }

.news {
  width: 100%;
  max-width: 98rem;
  height: 100%;
  display: flex;
  border-radius: 16px;
  background-color: #e5e5e5;
  margin-bottom: 50px; }
  .news .news_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    padding: 40px;
    position: relative; }
    .news .news_img img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
      display: block; }
    .news .news_img .news__button {
      font-family: 'Courier New', Courier, monospace;
      background-color: #b7094c;
      display: inline-block;
      padding: 10px;
      letter-spacing: 2px;
      font-size: 15px;
      border-radius: 6px; }
  .news .news_info {
    font-family: 'Courier New', Courier, monospace;
    padding-right: 35px;
    padding-top: 2.5rem;
    height: auto; }
    .news .news_info .news_info_titulo {
      text-transform: uppercase;
      font-weight: 800;
      height: 4rem;
      font-size: 25px;
      color: #b7094c; }
    .news .news_info .news_text {
      font-weight: 800;
      text-align: left;
      font-size: 20px; }

/*---boton go back----*/
.boton_goback {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px; }

/* -------------------------------------FOOTER--------------------- */
.footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: auto; }
  .footer img:hover {
    border-color: #ffff6d; }

.registro {
  font-family: 'Permanent Marker', cursive;
  color: #b3abab;
  border: 4px solid #343a40;
  border-left: black;
  border-right: black;
  border-style: dashed;
  font-size: 20px;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 4rem;
  margin-top: 10px; }
  .registro h2 {
    font-size: 20px;
    color: #e63946;
    height: 7rem;
    width: 100%; }
  .registro input {
    border: 2px solid #343a40;
    font-family: 'Hubballi', cursive;
    background-color: black;
    color: black;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center; }
  .registro .botonfooter, .registro .tabla .boton, .tabla .registro .boton {
    margin-top: 15px; }

.redsocial {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px; }
  .redsocial a img {
    background-color: #e5e5e5;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 20%;
    border: 4px solid #b7094c; }

.copyright {
  color: grey;
  font-size: 15px;
  margin-top: 1rem;
  text-align: center; }

/*-------------------fin del index principal/------*/
/*---MIXIN---*/
/*----MAPA------*/
.filauno {
  border: 5px 8px 5px #d00000; }

.filados {
  border: 5px 8px 5px #b3abab; }

/*----MAP GET ------*/
/*-----ANIMACIONES--------------------*/
h1 {
  animation: pulse;
  animation-duration: 2s; }

.containerphoto img:hover {
  animation: pulse;
  animation-duration: 1s; }

.menupropio a:hover {
  animation: flash;
  animation-duration: 1s; }

.parrafoprincipal h2:hover {
  animation: flash;
  animation-duration: 1s; }

.padrediscography img:hover {
  animation: pulse;
  animation-duration: 1s; }

.integrante img:hover {
  animation: flash;
  animation-duration: 1s; }

/* ----------------------TOUR DATES----------------------------*/
.headerpaginas .navbar a {
  color: #B74C5C; }

.tours {
  margin-bottom: 5rem;
  color: #d8dee9;
  font-family: 'Space Mono', monospace;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .tours h1 {
    font-family: 'Permanent Marker', cursive;
    height: 10rem;
    font-size: 50px;
    margin: 2rem 1px; }
    .tours h1:hover {
      color: #6a040f; }
  .tours .item {
    word-spacing: 1rem;
    width: 100%;
    height: 8.5rem;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 2rem;
    margin-top: 5rem; }
    .tours .item:hover {
      background-color: #6a040f; }
    .tours .item button {
      font-size: 10px;
      flex-direction: column;
      color: white;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .tours .item button:hover {
        background-color: #343030; }

.imagentour img {
  object-fit: cover;
  height: 40rem;
  margin-left: -20px; }

.boton_goback {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px; }

/*--------------------------------SECCION PHOTOS---------------------*/
/*---MIXIN---*/
/*----MAPA------*/
.filauno {
  border: 5px 8px 5px #d00000; }

.filados {
  border: 5px 8px 5px #b3abab; }

/*----MAP GET ------*/
.container {
  width: 100%; }

.carousel {
  position: relative; }
  .carousel img {
    padding: 2rem; }

.carousel__center {
  margin: 0 auto; }

/*--------------collage-----*/
.collage_title {
  background-position: 10%;
  text-align: center;
  height: 12rem; }
  .collage_title h2 {
    padding: 50px;
    font-size: 50px;
    color: #b7094c; }

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.grid-item {
  justify-content: center;
  align-items: center;
  background-color: pink;
  display: flex;
  transition: transform 0.3s ease-in-out; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  min-height: 100vh;
  gap: 10px;
  padding: 20px;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px; }

.imgcollage {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover; }
  .imgcollage img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover; }

.grid-item:nth-child(1) {
  grid-row: span 2; }

.grid-item:nth-child(2) {
  grid-column: span 2; }

.grid-item:nth-child(3) {
  grid-row: span 2; }

.grid-item:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2; }

/*--------------------------------------- SECCION VIDEOS-----------------*/
.containervideo {
  margin-top: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  width: 100%; }
  .containervideo h2 {
    font-family: 'Permanent Marker', cursive;
    color: #b7094c;
    font-size: 40px;
    height: 10rem;
    margin-top: 2rem; }
  .containervideo iframe {
    margin-right: 2rem;
    margin-top: 1rem;
    height: 400px;
    width: 400px;
    box-shadow: 5px 5px 1px 2px #ffff6d;
    transition: transform 0.3s ease-in-out; }
  .containervideo .orchestral, .containervideo .recent, .containervideo .inconcert {
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 10rem;
    width: 100%; }

.orchestral {
  width: 100%;
  background-image: url(../imagenes/videos/imposibleor-min.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .orchestral iframe:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

.inconcert {
  background-image: url(../imagenes/videos/Nothing_but_thieves-min.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .inconcert iframe:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

.recent {
  background-image: url(../imagenes/videos/mosrecent-min.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .recent iframe:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

/*---------------------DISCOGRAPHY---------------*/
/*---MIXIN---*/
/*----MAPA------*/
.filauno {
  border: 5px 8px 5px #d00000; }

.filados {
  border: 5px 8px 5px #b3abab; }

/*----MAP GET ------*/
.padrediscography {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #E8E8E6;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  padding: 2rem; }
  .padrediscography h2 {
    font-family: 'Permanent Marker', cursive;
    border-radius: 2%;
    color: #b7094c;
    text-align: center;
    padding: 5px;
    margin-top: 5px; }
  .padrediscography img {
    box-shadow: 5px 8px 5px  #6a040f;
    margin-right: 10px;
    height: 500px;
    width: 500px;
    object-fit: cover; }
  .padrediscography .disco {
    margin-top: 12px;
    margin-bottom: 8rem;
    padding: 2rem; }
    .padrediscography .disco .spotify {
      color: green; }
  .padrediscography .musictitulo {
    width: 100%; }
    .padrediscography .musictitulo h3 {
      font-size: 50px;
      padding: 5px;
      text-align: center;
      color: #b7094c; }

/*-------------ABOUT------------------*/
@media only screen and (min-width: 280px) and (max-width: 800px) {
  .integrante {
    width: 100%;
    margin: 0; } }

.aboutpadre {
  height: auto;
  margin-top: 3rem;
  background-color: black; }
  .aboutpadre .integrante {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d8dee9;
    padding: 10px;
    box-sizing: border-box; }
    .aboutpadre .integrante h3 {
      color: #b7094c;
      height: 4rem;
      font-size: 20px;
      margin-top: 1rem; }
    .aboutpadre .integrante p {
      padding: 10px;
      font-family: 'Space Mono', monospace;
      font-weight: 800;
      font-size: 20px;
      margin-top: 10px;
      color: #9a9494; }
    .aboutpadre .integrante img {
      border-radius: 10%;
      object-fit: cover;
      width: 500px;
      height: 500px; }

.integrantefondo1 {
  background-color: #ebe7e7;
  color: black; }

.integrantefondo2 {
  background-color: #2e2d2d; }

.abouttitulo h2 {
  width: 100%;
  height: 100px;
  color: #b7094c;
  font-size: 50px;
  padding: 20px;
  margin-bottom: 40px; }

/*-----------------------------------------responsive--------------------*/
/* --------------------------RESPONSIVE INDEX---------------------------------- */
@media screen and (max-width: 980px) {
  .tabla {
    font-size: 20px;
    color: white; }
    .tabla button {
      margin-top: 10px;
      font-size: 20px;
      margin-bottom: 10px; }
  .otroparrafoprincipal {
    width: 100%;
    margin-left: 0%; } }

@media screen and (max-width: 576px) {
  .header {
    background-position-x: 50%; }
  .parrafoprincipal {
    height: auto; }
  .otroparrafoprincipal img {
    margin-top: 20px;
    width: 200px;
    height: 200px; }
  .otroparrafoprincipal iframe {
    width: 300px;
    height: 300px; }
  .linkalbum a img {
    width: 60px;
    height: 60px;
    margin-top: 40px;
    margin-left: 3rem; }
  .linkalbum p {
    text-align: center;
    font-size: 20px; }
  .latestalbum {
    display: block; } }

@media screen and (min-width: 300px) and (max-width: 450px) {
  .parrafoprincipal {
    height: auto; }
    .parrafoprincipal p {
      font-size: 20px; } }

@media screen and (min-width: 270px) and (max-width: 451px) {
  .tabla {
    font-size: 15px; }
    .tabla h2 {
      margin-top: 2rem;
      font-size: 25px; } }

/*------INDEX NEWS---------------*/
@media screen and (min-width: 560px) and (max-width: 768px) {
  .news_img {
    min-width: 100%;
    max-width: 100%;
    padding: 0; }
  .news_info {
    padding-right: 0; }
  .news {
    padding: 2rem; } }

@media screen and (min-width: 280px) and (max-width: 560px) {
  .news_img {
    display: none; }
  .news {
    text-align: center;
    flex-direction: column; }
    .news .news_info {
      text-align: center;
      padding-right: 0;
      padding: 5px;
      margin-right: 0; }
      .news .news_info .news_info_titulo {
        font-size: 25px;
        padding-left: 2px;
        height: 6rem; }
    .news .news__button {
      padding: 8px;
      margin-left: 5px; } }

@media screen and (max-width: 960px) {
  .latest-news_title h2 {
    font-size: 40px; }
  .news {
    flex-direction: column;
    text-align: center;
    padding-left: 15px; }
    .news .news_img {
      justify-content: center;
      align-items: center;
      margin-left: 7rem;
      width: 100%; }
    .news .news_info_titulo {
      font-size: 20px; }
    .news .news__button {
      justify-content: center;
      padding: 8px; } }

@media screen and (max-width: 780px) {
  .news .news_img {
    margin-left: 5rem; } }

@media screen and (max-width: 690px) {
  .latest-news_title h2 {
    font-size: 30px; }
  .news .news_img {
    margin-left: 1rem; } }

@media screen and (max-width: 620px) {
  .news .news_img {
    margin-left: 0; } }

@media screen and (max-width: 420px) {
  .news .news_info {
    text-align: center; }
  .news .news_info_titulo {
    font-size: 14px; } }

/* ---------RESPONSIVE FOOTER------------ */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .redsocial img {
    margin-top: 2rem; }
  .botonfooter, .tabla .boton {
    padding: 5px; } }

/*------RESPONSIVE PHOTOS--------*/
@media screen and (max-width: 760px) {
  .frase {
    font-size: 10px; } }

@media screen and (max-width: 760px) {
  .carousel {
    width: 90%; } }

@media only screen and (min-width: 560px) and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); }
  .grid-item:nth-child(8) {
    grid-column: span 3;
    grid-row: span 1; }
  .grid-item:nth-child(7) {
    grid-column: span 3; }
  .grid-item:nth-child(10) {
    grid-column: span 4; } }

@media only screen and (min-width: 280px) and (max-width: 560px) {
  .grid-container {
    grid-template-columns: 1fr; }
  .grid-item:nth-child(n+1) {
    grid-column: span 2;
    grid-row: span 1; } }

/* -------------------------RESPONSIVE VIDEOS--------- */
@media screen and (min-width: 140px) and (max-width: 340px) {
  .containervideo iframe {
    margin-top: 25px;
    height: 250px;
    width: 250px;
    object-fit: cover; } }

@media screen and (max-width: 500px) {
  .containervideo h2 {
    font-size: 25px; } }

/* --------------RESPONSIVE DISCOGRAPHY------------------------*/
@media screen and (min-width: 140px) and (max-width: 320px) {
  .padrediscography img {
    height: 200px;
    width: 200px;
    object-fit: cover; }
  .padrediscography .disco {
    margin: 0;
    width: 100%; }
    .padrediscography .disco h2 {
      font-size: 15px; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .headerdisco nav ul {
    height: 20%;
    width: 70%; }
  .padrediscography img {
    height: 300px;
    width: 400px;
    object-fit: cover; }
  .padrediscography .disco {
    width: 100%; } }

@media screen and (min-width: 481px) and (max-width: 850px) {
  .padrediscography img {
    height: 300px;
    width: 500px;
    margin: 0;
    object-fit: cover; }
    .padrediscography img .disco {
      width: 100%; } }

@media screen and (min-width: 280px) and (max-width: 450px) {
  .musictitulo {
    width: 100%; }
    .musictitulo h3 {
      font-size: 15px; } }

/*-----------------------RESPONSIVE ABOUT------------------------*/
@media screen and (max-width: 576px) {
  .integrante h3 {
    height: auto;
    font-size: 15px; } }

/* -----------RESPONSIVE TOUR DATES----------- */
@media screen and (max-width: 850px) {
  .tours .item {
    font-size: 15px;
    width: 100%; } }

@media screen and (max-width: 380px) {
  .tours .item {
    font-size: 10px;
    width: 100%; } }
